body{
background-color:#99ffff;

}
input{
	color:black;
	background-color:#99cccc;
	
	box-shadow: black;
}
.button{
background-color:#99cccc;
color:black;
border-color: black;
}
hr{
	color:black;
}
script{
	background-color: black;
}
table{
	text-align: center;
	border-radius: 5px;
  	border: 2px  black;
  	outline: none;
  	color: black;
  	padding: 5px 8px 5px 8px;
  	box-shadow: inset 1px 1px 4px 1px black;
  	background: #99ffff;
  	
}
td{
	border-radius: 2px;
	box-shadow: inset 0.5px 0.5px 2px 0.5px black;
}